@inject IDataService DataService
@implements IDisposable

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exhibit in DataService.ObjectsList)
        {
            <tr>
                <td>@exhibit.Title</td>
                <td>@exhibit.Description</td>
                <td><button class="btn btn-primary" @onclick="() => ExhibitSelected.Invoke(exhibit.Id)">Подробнее</button></td>
            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public Action<int> ExhibitSelected{ get; set; }

    protected override void OnInitialized()
    {
        DataService.DataLoaded += StateHasChanged;
    }

    public void Dispose()
    {
        DataService.DataLoaded -= StateHasChanged;
    }
}
