@page "/exhibits"

<PageTitle>Exhibits</PageTitle>

<AuthorizeView>

    <Authorized>
        <p>This component demonstrates fetching data from the server.</p>
        @if (DataService.ObjectsList == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <ExhibitsList ></ExhibitsList>
        }
    </Authorized>

    <NotAuthorized>
        <h3>You should authorize first!!!</h3>
    </NotAuthorized>

</AuthorizeView>


@code {
    [Inject]
    public IDataService DataService { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await DataService.GetProductListAsync(null);
    }
}

