@page "/exhibits"
@inject HttpClient Http
@inject IDataService DataService
@using Domain.Entities;
@using Domain.Models;
@using System.Text.Json;

<PageTitle>Exhibits</PageTitle>

<p>This component demonstrates fetching data from the server.</p>

@if (DataService.ObjectsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exhibit in DataService.ObjectsList)
            {
                <tr>
                    <td>@exhibit.Title</td>
                    <td>@exhibit.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await DataService.GetProductListAsync(null);
    }
}
